body{
    font-family: 'Arial', sans-serif !important;
}

.event-section {
    /*border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;*/
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  
  
  .event-image{
    padding-left: 0px !important;
    
  }

  .event-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    background-color: #fbfdff;

    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .event-content {
    padding: 20px;
    padding-left: 5px;
    padding-top: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }
  
  .event-title {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .event-title i {
    margin-right: 10px;
    color: #007bff;
  }
  
  .event-date {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  
  .event-date i {
    margin-right: 10px;
    color: #ff5722;
  }
  
  .event-description {
    font-size: 0.9em;
    color: #555;
    line-height: 1.6;
  }