  /* Add your custom styles here */

        /* Example: Adjust styles for screens with a maximum width of 768px */
        @media screen and (max-width: 768px) {
            body {
                font-size: 14px;
            }

            /* Add more styles as needed for smaller screens */
        }
        body {
        font-family: Arial, sans-serif;
        margin: 0;
        
    }
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    .filter-container {
        
        margin-bottom: 20px;
        font-size: larger;
    }
    .question-table {
        width: 100%;
        border-collapse: collapse;
    }
    .question-table th, .question-table td {
        border: 0px solid #ccc;
        padding: 8px;
        text-align: left;
    }
    .question-table th {
        background-color: #f2f2f2;
        position: sticky;
        top: 0px;
    }
    .table-wrapper{
        max-height: 400px;
        overflow-y: scroll;
    }
    .table-wrapper::-webkit-scrollbar{
        display: none;
    }